/* ChillRoundM Regular */
@font-face {
  font-family: 'ChillRoundM';
  font-style: normal;
  font-display: swap;
  src: url(./files/ChillRoundM.woff2) format('woff2');
}

/* ChillRoundM Regular (otf) */
@font-face {
  font-family: 'ChillRoundM';
  font-style: normal;
  font-display: swap;
  src: url(./files/ChillRoundM-otf.woff2) format('woff2');
}
